.list-activities {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}

.Section-charts {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.quantity-acts {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  background-color: #fbfafa;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  color: #626262;
  font-weight: bolder;
  font-size: 13px;
}


.quantity-acts h4{
    cursor: pointer;
}

.numRows{
    width: 100%;
    font-size: 15px;
}

.circleQua {
  display: flex;
  justify-content: center;
  text-align: center;
}

.numCircleQua {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 40px;
  color: #000000;
  font-weight: bolder;
}


.content-charts{
    width: 80%;
    background-color: #fbfafa;
    border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
}